### syntax

Store bokstaver og identation er bare konvensjon for å gjøre mer leselig

Hele query er en statement

hver linje er clause.

har keywords og operators

```SQL
SELECT [kol1, kol2,...]
    FROM [table1, table2, ...]
    WHERE [(cond1 OR con2)]
    AND [cond2]
    LIMIT [num]
    ORDER BY [kol1] DESC
    
```

Rekkefølgen clause i statement blir kjørt avhenger av keyword

```SQL
FROM > WHERE > GROUP BY > HAVING > SELECT > ORDER BY > LIMIT
```

### funksjoner

Kan kjøre aggregeringsfunksjoner på tabell. Eks: MIN, MAX, COUNT, AVG. Svare på spørsmål om verdiene i kolonnen. Kan spesifisere alias som brukes som kolonnenavn i resten av script + output tabell. Merk at jeg ikek kan bruke de nye aliasene når jeg konstrueker nye kolonne i select, eg kol1+kol2 as ny_kol må bruke navn fra tabell

```SQL
SELECT AGG(kol1) AS 'agg_kol1', 
       AGG(DISTINCT kol2) as 'blalba'
       FROM [...]
       ...
```

Har også funksjoner som transformerer hver celle i kolonne og gir ny kolonne. Har litt greier på strings men hmm,

```SQL
SELECT
    CASE
    WHEN [kol1] [cond1] THEN [value1]
    WHEN [kol1] [cond2] THEN [value2]
    ELSE [value3]
    END AS [kolnavn]
```

### group by

```SQL
SELECT [idx_col1, idx_col2],
    AGG(val_col1) as 'alias1',
    AGG(val_col2) as 'alias2',
    FROM [table1]
    GROUP BY idx_col1, idx_col2
    HAVING alias1 > value
```

### Datatype

Deler to ints så vil SQL forsøke å caste output til int, runder nedover. Ikke det vi vil ha. Må caste kolonne til float før vi deler

```SQL
CAST(kol AS Float)
```

har problem med å caste, kan bruke kolnavn*1.0  for å få det som float

### subquery

Bruke output fra output fra en query som input i en annen. Kunne kjørt iterativt og flyttet verdier over manuelt, men mye bedre å bruke output fra en subquery

subquery i klausul blir evaluert før resten

utfordring at SELECT blir kjørt så jævlig sent så kan ikke bruke konstruerte variabler hefra til å filtrere output

```SQL
SELECT Major_category, Major
    FROM recent_grads
    WHERE Major_category IN (SELECT Major_category
                            FROM recent_grads
                            GROUP BY Major_category
                            ORDER BY SUM(TOTAL) DESC
                            LIMIT 3
                          );
```

### Joins

Lage tabell med data fra flere tabeller. Trenger id-kolonne for å matche rows. I praksis bruker vi inner og left joins

```SQL
SELECT left.*, right.kol AS kolnavn
    FROM left_data AS left
    INNER JOIN right_data AS right on left.idx = right.index
```

Nyttig å bruke alias på tabellnavn siden jeg refererrer til kolonnenavn med alias.kolnavn. Bruker wildcard for å velge alle kolonner

In [2]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame([[1,1],[0,0]])

In [17]:
df

   0  1
0  1  1
1  0  0

In [18]:
len(df[df == 1])

2