# Dato og tid

## Filtrere grupper som kun har observasjoner innefor gitt intervall

Grupperer og filtrerer group-by-tabellen ut fra verdiene på aggregatfunksjonene `COUNT`, samt `MIN` og `MAX` på date-kolonne. Et eksempel kan være for å filtrere produkter som kun er solgt innefor et gitt tidsintervall,
```sql
select 
    product_id,
from product p
group by product_id
having count(1) > 0
and  min(sale_date) >= '2019-01-01' 
and max(sale_date) <= '2019-03-31'
```

## Finne tidligste observasjon i hver gruppe

Interesant at vi kan bruke order by med vindufunksjon som også har en order by !
```sql
select top 1 with ties
	*
from ordre
order by ROW_NUMBER() over (partition by knr order by ordredato)
```

# Avrunde gjennomsnitt

`Avg()` på kolonne som er integer returnerer integer. Det er derfor nødvendig å konvertere til float før vi tar gjennomsnitt. Kan gjøre det eksplisitt med `CAST()` eller implisitt ved å skalere med `1.0`

```sql
SELECT
    ROUND(AVG(1.0*integer_col), 2) 
FROM table_name
```

# Andel av radene som har ulike verdier

Bruker group by til å finne antall med ulike verdier og dele på samlet antall. F.eks. prosentvis andel av kunde i ulike postnr
```sql
declare @total_antall int = (select count(knr) from kunde)
select
    postnr,
    round(100.0 * count(knr)/(@total_antall), 2) percentage
from kunde 
group by postnr
```

# Andel av radene som har en gitt verdi

Vi kan enten konvertere til boolean med predikat eller eksplisitt konvertere til indikator. Deretter tar vi summen.
```sql
select
    sum(colname='value') as antall_value,
    sum(case when colname='value' then 1 else 0 end) antall_value1
from table_name
```

# Antall av radene som ikke har match i høyre

Når jeg vil finne antall observasjoner som oppfyller kriterie vil jeg filtrere i where og bruke count; ikke eksplisitt lage dummy variabel fra kriterie og summere denne...
```sql
select
    l.id,
    count(l.id)
from left l
left join right r
on l.col_name=r.col_name -- beholde rader som ikke fikk match i høyre
where r.col_name is null -- kolonner i høyre blir da paddet med nulls
group by l.id
```

# Finne duplikate verdier

Finner duplikate verdier
```sql
select 
	col_name
from table_name
group by col_name
having COUNT(*) > 1
```

# Finne gruppe_id som har medlem som tilfredstiller egenskap

```sql
-- Departement som har hjennomført salg til pris over 98 dollar
select
  d.id,
  d.name
from departments d
where exists (select department_id -- sjekke at eksistere minst én rad som tilfredstiller
              from sales s
              where d.id=s.department_id
              and price > 98)
```